.background {
    /* https://www.deviantart.com/ofruin-stock/art/Old-paper-28-stock-71978980 */
    background-image: url('../img/paper_bermude.jpg');
    background-size: 210mm 296mm;
}

.enigme {
    padding-top: 15px;
    text-align: center;
}

.enigme p {
    line-height: 24px;
    text-align: left;
    text-indent: 10%;
}

.enigme img {
    padding-top: 10px;
    opacity: 0.3;
}

#mer {
    position: absolute;
    left: 100px;
}
#triangle {
    position: absolute;
    left: 100px;
}

.enigme table {
    border-collapse: collapse;
    table-layout:fixed;
    position: absolute;
    left: 103px;
    top: 434px;
}
.enigme table, tr, td {
    border: 1px hidden black;
}
.enigme table, td {
    width: 14px;
    height: 21px;
}

.letterBermude {
    /* color: brown; */
}

#B {
    position: absolute;
    left: 227px;
    top: 703px;
    display: visible;
}
#E1 {
    position: absolute;
    left: 380px;
    top: 627px;
    display: visible;
}
#R {
    position: absolute;
    left: 573px;
    top: 534px;
    display: visible;
}
#M {
    position: absolute;
    left: 567px;
    top: 605px;
    display: visible;
}
#U {
    position: absolute;
    left: 557px;
    top: 715px;
    display: visible;
}
#D {
    position: absolute;
    left: 542px;
    top: 865px;
    display: visible;
}
#E2 {
    position: absolute;
    left: 428px;
    top: 810px;
    display: visible;
}
#S {
    position: absolute;
    left: 330px;
    top: 758px;
    display: visible;
}

.r6 {
    transform: rotate(6deg);
}
.r6n {
    transform: rotate(-6deg);
}

.r10 {
    transform: rotate(10deg);
}
.r10n {
    transform: rotate(-10deg);
}

.r13 {
    transform: rotate(13deg);
}
.r13n {
    transform: rotate(-13deg);
}

.r18 {
    transform: rotate(18deg);
}
.r18n {
    transform: rotate(-18deg);
}