.background {
    /* https://www.deviantart.com/bashcorpo/art/Grungy-paper-texture-v-5-22966998 */
    background-image: url('../img/paper_briefing.jpg');
    background-size: 210mm 296mm;
}

.enigme p {
    line-height: 24px;
    text-align: left;
    padding-left: 50px;
    padding-top: 15px;
}

.enigme p:first-of-type {
    padding-top: 30px;
}

#at {
    font-family: 'Courier New', Courier, monospace;
}

a:link, a:visited {
    color: blue;
}

.ts2 {
    left: 15%;
    transform: rotate(2deg);
}

.citation {
    padding-top: 120px !important;
    text-align: center !important;
    font-style: italic;
}
.citation-auteur {
    padding-left: 50px;
    padding-right: 50px;
    text-align: right;
}

.approved {
    bottom: 200px;
}