.background {
    /* https://www.digitalcombatsimulator.com/en/files/2188485/ */
    background-image: url('../img/enigme_minicryptos.png');
    background-size: 210mm 296mm;
}


@font-face {
    font-family: 'TypoSlabIrregular';
    src: url('../font/TypoSlabIrregularDemo.otf') format("truetype");
}

@font-face {
    font-family: 'Army Rust';
    src: url('../font/ARMY_RUST.ttf') format("truetype");
}

body {
    font-family: 'TypoSlabIrregular';
}

h1 {
    font-weight: lighter;
    padding-left: 15px;
    color: #453715;
}

.check {
    font-size: 19px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-left: 58px;
    color: #453715;
}
.dots {
    font-family: 'Army Rust';
    font-size: 17px;
    font-weight: bold;
    color: #453715;
}
.value {
    position: absolute;
    left: 500px;
    color: #A59775;
}
.precision {
    position: absolute;
    left: 615px;
    font-size: 14px;
    letter-spacing: -0.3px;
    padding-top: 3.5px;
    color: #665836;
}
.tennis {
    left: 650px;
}

#code1 {
    padding-top: 46px;
}
#code2 {
    padding-top: 35px;
}
#code3 {
    padding-top: 6px;
}
#code4 {
    padding-top: 63px;
}
#code5 {
    padding-top: 63px;
}
#code6 {
    padding-top: 6px;
}

#boussole {
    padding-top: 119px;
}
#mesure {
    padding-top: 35px;
}
#pelle {
    padding-top: 91px;
}
#vetements {
    padding-top: 6px;
}
#batterie {
    padding-top: 63px;
}
#qrcode {
    padding-top: 91px;
}

#group {
    padding-top: 35px;
    padding-left: 238px;
}