@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');

@font-face {
    font-family: 'daniel';
    src: url('../font/danielbd.ttf') format("truetype");
}


.libelle {
    font-family: 'Old Standard TT', serif;
    font-size: 16px;
    transform: rotate(91.5deg);
    position: absolute;
    top: 180px;
    left: -132px;
}

.background-carte-recto {
    background-image: url('../img/enigme_gps_photo.jpg');
    background-repeat: no-repeat;
    background-size: 210mm 147mm;
}

#photo {
    max-width: 100%;
    height: 100%;
}

.background-carte-verso {
    background-image: url('../img/enigme_gps_verso.jpg');
    background-repeat: no-repeat;
    background-size: 210mm 147mm;
}

.verso {
    font-family: 'daniel';
    font-size: 11px;
    font-weight: bold;
}

.intro {
    padding-top: 120px;
    padding-left: 15px;
    padding-right: 402px;
    text-align: center;
    transform: rotate(0.7deg);
}

.nord {
    line-height: 26px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 402px;
    text-align: center;
    transform: rotate(-1deg);
}

#hnord {
    position: absolute;
    left: 381px;
    top: 220px;
    transform: rotate(-30deg);
}
#anord {
    position: absolute;
    left: 400px;
    top: 235px;
    transform: rotate(-118deg);
    font-size: 14px;
}
#anord::after {
    content: '----';
}

.west {
    line-height: 26px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 402px;
    text-align: center;
    transform: rotate(-2deg);
}

#hwest {
    position: absolute;
    left: 320px;
    top: 355px;
    transform: rotate(60deg);
}
#awest {
    position: absolute;
    left: 339px;
    top:370px;
    transform: rotate(-118deg);
    font-size: 14px;
}
#awest::after {
    content: '----';
}