.background {
    /* https://www.deviantart.com/ofruin-stock/art/Old-paper-38-stock-72723179 */
    background-image: url('../img/paper_grimm.jpg');
    background-size: 210mm 296mm;
}

.enigme div {
    line-height: 24px;
    text-align: justify;
    padding-left: 45px;
    padding-right: 45px;
}

.enigme div:first-of-type {
    padding-top: 45px;
    padding-left: 82px;
}

.enigme div:first-of-type b {
    font-weight: bold;
    font-size: 5em;
    position: absolute;
    left: 80px;
    top: 311px;
}

.enigme .suite {
    line-height: 24px;
    text-align: justify;
    padding-left: 45px;
    padding-right: 45px;
}

.enigme p {
    margin-top: 40px;
    line-height: 24px;
    padding-left: 45px;
    padding-right: 45px;
}

.enigme img {
    border-radius: 3px;
    opacity: 0.95;
}


#W {
    position: absolute;
    left: 316px;
    top: 724px;
    display: visible;
}
#I {
    position: absolute;
    left: 460px;
    top: 669px;
    display: visible;
}
#L1 {
    position: absolute;
    left: 535px;
    top: 710px;
    display: visible;
}
#H {
    position: absolute;
    left: 390px;
    top: 820px;
    display: visible;
}
#E {
    position: absolute;
    left: 450px;
    top: 817px;
    display: visible;
}
#L2 {
    position: absolute;
    left: 340px;
    top: 829px;
    display: visible;
}
#M {
    position: absolute;
    left: 355px;
    top: 637px;
    display: visible;
}

#R {
    position: absolute;
    left: 342px;
    top: 673px;
    display: visible;
}
#O {
    position: absolute;
    left: 485px;
    top: 832px;
    display: visible;
}
#S {
    position: absolute;
    left: 480px;
    top: 621px;
    display: visible;
}
#E1 {
    position: absolute;
    left: 338px;
    top: 747px;
    display: visible;
}
#E2 {
    position: absolute;
    left: 497px;
    top: 747px;
    display: visible;
}