.background {
    /* https://www.deviantart.com/bashcorpo/art/Grungy-paper-texture-v-6-37649221 */
    background-image: url('../img/paper_liberation.jpg');
    background-size: 210mm 296mm;
}

#division {
    position: absolute;
    left: 45px;
    top: 200px;
}

.enigme p {
    line-height: 24px;
    text-align: left;
    padding-left: 50px;
}

.enigme p:first-of-type {
    padding-top: 30px;
}

.note {
    padding-top: 50px;
    line-height: 24px;
    transform: rotate(-1deg);
}