.background {
    /* https://www.deviantart.com/ofruin-stock/art/Old-paper-37-stock-72722910 */
    background-image: url('../img/paper_paon.jpg');
    background-size: 210mm 296mm;
}

.enigme p:first-of-type {
    padding-bottom: 80px;
}

.enigme img {
    opacity: 0.8;
    border-radius: 5px;
}

.date span {
    font-family: 'The Soul Of Vodka';
}