.background {
    /* https://www.deviantart.com/ofruin-stock/art/Old-paper-16-stock-71917755 */
    background-image: url('../img/paper_poeme.jpg');
    background-size: 210mm 296mm;
}

.poeme {
    font-family: 'Tox Typewriter';
    font-size: 160%;
}

.poeme table {
    border-collapse: collapse;
}
.poeme table, tr, td {
    border: 1px solid black;
}
.poeme td {
    height: 35px;
    width: 35px;
    text-align: center;
}

.poeme b {
    font-family: 'Old Typewriter';
    font-size: 70%;
}
.poeme i {
    color: #2e3033;
}

.poeme p:first-of-type {
    padding-top: 40px;
}