.background {
    /* https://www.histoire-image.org/sites/default/affiche-appel-18juinf.jpg */
    background-image: url('../img/paper_teasing.png');
    /* background-image: url('../img/affiche-appel-18juinf.jpg'); */
    background-size: 210mm 296mm;
}

@font-face {
    font-family: 'The Soul Of Vodka';
    src: url('../font/The Soul Of Vodka.ttf') format("truetype");
}

@font-face {
    font-family: 'TypoSlabBoldDemo';
    src: url('../font/TypoSlab_bold_demo.otf') format("truetype");
}

body {
    font-family: 'TypoSlabBoldDemo';
    font-size: 22px;
}

h1 {
    font-family: 'The Soul Of Vodka';
    font-size: 70px;
    font-weight: 550;
    letter-spacing: 2px;
    text-align: center;
}

#title {
    padding-top: 100px;
    margin-bottom: 30px;
}

.texte {
    padding-left: 45px;
    padding-right: 45px;
    text-align: justify;
}
.texte span {
    font-family: 'The Soul Of Vodka';
}

.footer {
    position: absolute;
    bottom: 140px;
    right: 70px;
    width: 400px;
    height: 170px;
}

.footer h2 {
    font-family: 'The Soul Of Vodka';
    font-size: 25px;
    font-weight: 550;
    letter-spacing: 2px;
}


.encart {
    position: absolute;
    bottom: 54px;
    left: 61px;
    width: 198px;
    height: 225px;
}

h4 {
    font-family: 'The Soul Of Vodka';
    font-size: 15px;
    font-weight: 550;
    letter-spacing: 2px;
    text-align: center;
}

#titleEncart {
    padding-top: 25px;
    margin-bottom: 7px;
}

.encart .texte {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    font-size: 6px;
}
.encart .texte span {
    font-family: 'The Soul Of Vodka';
}

.encart .footer {
    position: absolute;
    bottom: 20px;
    right: 15px;
    width: 80px;
    height: 20px;
}

.encart .footer h5 {
    font-family: 'The Soul Of Vodka';
    font-size: 5px;
    font-weight: 100;
    letter-spacing: 0.35px;
    padding-top: 5px;
}

.encart .footer .sl {
    position: absolute;
    left: 10px;
}

.encart .footer .sr {
    position: absolute;
    right: 10px;
}