
@font-face {
    font-family: '1942 Report';
    src: url('../font/1942_report.ttf') format("truetype");
}
@font-face {
    font-family: 'Tox Typewriter';
    src: url('../font/ToxTypewriter.ttf') format("truetype");
}
@font-face {
    font-family: 'Old Typewriter';
    src: url('../font/OldTypewriter.ttf') format("truetype");
}

@font-face {
    font-family: 'Army Rust';
    src: url('../font/ARMY_RUST.ttf') format("truetype");
}

@font-face {
    font-family: 'Top Secret';
    src: url('../font/TopSecret.ttf') format("truetype");
}
@font-face {
    font-family: 'Top Secret 2';
    src: url('../font/TOP_SECRET_2.ttf') format("truetype");
}

@font-face {
    font-family: 'Silence Rocken';
    src: url('../font/SilenceRocken.ttf') format("truetype");
}
@font-face {
    font-family: 'Signerica';
    src: url('../font/Signerica_Fat.ttf') format("truetype");
}

body {
    font-family: 'Old Typewriter';
    font-weight: lighter;
    font-size: small;
}

.background {
    /* https://www.deviantart.com/ofruin-stock/art/Old-paper-13-stock-71917443 */
    background-image: url('../img/paper_template.jpg');
    background-size: 210mm 296mm;
}

.top-secret {
    font-family: 'Top Secret 2';
    font-size: 42px;
    color: #ce0c0c;
    transform: rotate(-3deg);
    position: absolute;
    left: 30%;
    top: 0px;
}
.top-secret::after {
    content: '[TOP_SECRET]';
}

.copy {
    position: absolute;
    right: 8%;
    top: 21px;
    transform: rotate(3deg);
}

.manuscrit {
    font-family: 'Signerica';
    font-weight: bold;
    color: #1b4c8b;
}

.date {
    position: absolute;
    right: 13%;
    top: 128px;
}

.head {
    padding-top: 90px;
}

.marker {
    font-style: normal;
    border-radius: 24px 5px 20px 3px;
    background: 
      linear-gradient(-78deg, 
        rgba(0,0,0,0.98),
        rgba(0,0,0,0.99) 100%, 
        rgba(0,0,0,0.95)
      );
}

.enigme {
    padding-top: 40px;
    text-align: center;
}

.approved {
    position: absolute;
    bottom: 69px;
    right: 14%;
}
.approved img {
    padding-left: 11px;
}

.solution {
    font-family: 'Top Secret';
    font-size: 71px;
    line-height: 100px;
    color: #b20303;
    transform: rotate(9deg);
    position: absolute;
    bottom: 64px;
    left: 37px;
}
