.background {
    /* https://www.deviantart.com/ofruin-stock/art/Old-paper-40-stock-74726294 */
    background-image: url('../img/paper_tresor.jpg');
    background-size: 210mm 296mm;
}

.copy {
    position: absolute;
    right: 8%;
    top: 21px;
    transform: rotate(3deg);
    text-align: center;
}

.enigme p:first-of-type {
    padding-top: 100px;
}

.enigme p {
    line-height: 24px;
    padding-left: 45px;
    padding-right: 45px;
}

#at {
    font-family: 'Courier New', Courier, monospace;
}