.background {
    /* https://www.deviantart.com/ofruin-stock/art/Old-paper-34-stock-72496318 */
    background-image: url('../img/paper_unionjack.jpg');
    background-size: 210mm 296mm;
}

#pomme {
    position: absolute;
    left: 160px;
}

#pizza {
    position: absolute;
    right: 160px;
}

.link {
    font-family: 'Signerica';
    font-weight: bold;
    font-size: 28px;
    color: #1b4c8b;
}

.link1 {
    transform: rotate(30deg);
    position: absolute;
    left: 285px;
    top: 380px;
}
.link1::after {
    content: '------';
}

.link2 {
    transform: rotate(-30deg);
    position: absolute;
    left: 430px;
    top: 380px;
}
.link2::after {
    content: '------';
}

#linkup {
    padding-top: 170px;
}

.link3 {
    transform: rotate(90deg);
    position: absolute;
    left: 387px;
    top: 428px;
}
.link3::after {
    content: '--';
}

#tableau {
    padding-top: 25px;
}


#noteleft {
    position: absolute;
    left: 160px;
    bottom: 360px;
}
#flagleft {
    position: absolute;
    left: 180px;
    bottom: 330px;
}

.dontstop {
    padding-top: 70px;
}

#noteright {
    position: absolute;
    right: 160px;
    bottom: 320px;
}
#flagright {
    position: absolute;
    right: 180px;
    bottom: 360px;
}


.defi {
    padding-top: 70px;
}